In [8]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
from sklearn.preprocessing import LabelEncoder # for preprocessing
from sklearn.ensemble import RandomForestClassifier # for training the algorithm
from sklearn.ensemble import ExtraTreesClassifier # for training the algorithm
import joblib # for saving algorithm and preprocessing objects

In [9]:
df = pd.read_csv('M135_85_81_30SQ1_13mR.csv', skipinitialspace=True)

In [13]:
df

      INDEX  PPG  ECG  sys_Manual  dias_Manual  HR_Manual  NotesString
0       791  865  576         135           85         81          NaN
1       785  864  682         135           85         81          NaN
2       797  864  484         135           85         81          NaN
3       803  865  427         135           85         81          NaN
4       809  836  407         135           85         81          NaN
...     ...  ...  ...         ...          ...        ...          ...
1075   7084  380  530         135           85         81          NaN
1076   7090  379  514         135           85         81          NaN
1077   7096  384  503         135           85         81          NaN
1078   7102  383  504         135           85         81          NaN
1079   7107  386  512         135           85         81          NaN

[1080 rows x 7 columns]

In [14]:
x_cols=df['PPG','ECG']

KeyError: ('PPG', 'ECG')

In [15]:
df

      INDEX  PPG  ECG  sys_Manual  dias_Manual  HR_Manual  NotesString
0       791  865  576         135           85         81          NaN
1       785  864  682         135           85         81          NaN
2       797  864  484         135           85         81          NaN
3       803  865  427         135           85         81          NaN
4       809  836  407         135           85         81          NaN
...     ...  ...  ...         ...          ...        ...          ...
1075   7084  380  530         135           85         81          NaN
1076   7090  379  514         135           85         81          NaN
1077   7096  384  503         135           85         81          NaN
1078   7102  383  504         135           85         81          NaN
1079   7107  386  512         135           85         81          NaN

[1080 rows x 7 columns]

In [16]:
X = df[['ECG','PPG']]

In [17]:
X

      ECG  PPG
0     576  865
1     682  864
2     484  864
3     427  865
4     407  836
...   ...  ...
1075  530  380
1076  514  379
1077  503  384
1078  504  383
1079  512  386

[1080 rows x 2 columns]

In [18]:
df

      INDEX  PPG  ECG  sys_Manual  dias_Manual  HR_Manual  NotesString
0       791  865  576         135           85         81          NaN
1       785  864  682         135           85         81          NaN
2       797  864  484         135           85         81          NaN
3       803  865  427         135           85         81          NaN
4       809  836  407         135           85         81          NaN
...     ...  ...  ...         ...          ...        ...          ...
1075   7084  380  530         135           85         81          NaN
1076   7090  379  514         135           85         81          NaN
1077   7096  384  503         135           85         81          NaN
1078   7102  383  504         135           85         81          NaN
1079   7107  386  512         135           85         81          NaN

[1080 rows x 7 columns]

In [19]:
y= [['sys_Manual','dias_Manual']]

In [20]:
y

[['sys_Manual', 'dias_Manual']]

In [21]:
y = df[['sys_Manual', 'dias_Manual']]

In [22]:
y

      sys_Manual  dias_Manual
0            135           85
1            135           85
2            135           85
3            135           85
4            135           85
...          ...          ...
1075         135           85
1076         135           85
1077         135           85
1078         135           85
1079         135           85

[1080 rows x 2 columns]

In [23]:
X

      ECG  PPG
0     576  865
1     682  864
2     484  864
3     427  865
4     407  836
...   ...  ...
1075  530  380
1076  514  379
1077  503  384
1078  504  383
1079  512  386

[1080 rows x 2 columns]

In [24]:
ppg=x['PPG']

NameError: name 'x' is not defined

In [25]:
ppg=X['PPG']

In [26]:
ppg

0       865
1       864
2       864
3       865
4       836
       ...
1075    380
1076    379
1077    384
1078    383
1079    386
Name: PPG, Length: 1080, dtype: int64

In [28]:
ecg=X['ECG']

In [29]:
ecg

0       576
1       682
2       484
3       427
4       407
       ...
1075    530
1076    514
1077    503
1078    504
1079    512
Name: ECG, Length: 1080, dtype: int64

In [30]:
# load dataset
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c != 'income']
# set input matrix and target column
X = df[x_cols]
y = df['income']
# show first rows of data
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [32]:
# data split train / test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=1234)

In [33]:
# fill missing values
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
print(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 121124, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [34]:
# convert categoricals
encoders = {}
for column in ['workclass', 'education', 'marital-status',
                'occupation', 'relationship', 'race',
                'sex','native-country']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [35]:
# train the Random Forest algorithm
rf = RandomForestClassifier(n_estimators = 100)
rf = rf.fit(X_train, y_train)

In [36]:
# train the Extra Trees algorithm
et = ExtraTreesClassifier(n_estimators = 100)
et = et.fit(X_train, y_train)

In [37]:
# save preprocessing objects and RF algorithm
joblib.dump(train_mode, "./train_mode.joblib", compress=True)
joblib.dump(encoders, "./encoders.joblib", compress=True)
joblib.dump(rf, "./random_forest.joblib", compress=True)
joblib.dump(et, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']